<form role="form" name="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="vm.candidate.name">
  </div>
  <div class="form-group">
    <label for="name">Resume</label>
    <div edit-markdown="vm.candidate.resume"></div>
  </div>
  <div class="form-group">
    <label for="name">Rating</label>
    <div star-rating ng-model="vm.candidate.rating"></div>
  </div>
  <div class="form-group">
    <label for="name">Salary</label>
    <dollar-input><input type="text" ng-model="vm.candidate.salary" class="form-control" aria-label="Amount (to the nearest dollar)"></dollar-input>
  </div>
  <div class="form-group" ng-class="{'has-error': form.ssn.$invalid}">
    <label class="control-label" for="ssn">Social Security Number</label>
    <input id="ssn" name="ssn" ssn type="text" ng-model="vm.candidate.ssn" class="form-control" />
    <span class="help-block" ng-show="form.ssn.$error.ssn">SSN is invalid</span>
  </div>

  <button type="submit" class="btn btn-default" ng-click="vm.save()">Save</button>
</form>
